<h1 style="padding-top: 2rem; padding-bottom: 2rem;">Dashboard</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Completion (percentage of tasks complete)</th>
      <th>Overdue tasks (count)</th>
    </tr>
    <tbody> 
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= project.completion_percentage %>%</td>
          <td><%= project.overdue_count %></td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>